# Working with Databases (SQLite3)

Importing OS library of Python and then check is there exist the file in the directory or not

In [ ]:
import os
data_iris_folder_content = os.listdir("data/iris")

Error Message to check is the code is working fine or not in python

In [2]:
error_message = "Error: sqlite file not available, check instructions above"
assert "database.sqlite" in data_iris_folder_content, error_message

Importing SQLite3 library of the Python

In [3]:
import sqlite3

Make a connection to the database by using its sqlite3.connect() function

In [13]:
conn = sqlite3.connect('data/iris/database.sqlite')

sqlite.Cursor() object is our interface to the database, mostly throught the execute method that allows to run any SQL query on our database.

In [14]:
cursor = conn.cursor()

In [15]:
type(cursor)

sqlite3.Cursor

Query using for loop To select Iris dataset from the Database

In [16]:
for row in cursor.execute("SELECT name FROM sqlite_master"):
    print(row)

('Iris',)

Query To select Iris dataset from the Database

In [17]:
cursor.execute("Select name from sqlite_master").fetchall()

[('Iris',)]

Select some data from IRIS dataset into sample_data

In [18]:
sample_data = cursor.execute("Select * from IRIS LIMIT 10").fetchall()

To know type of sample_data and To know what is in this list

In [19]:
print(type(sample_data))
sample_data

<class 'list'>

[(1, 5.1, 3.5, 1.4, 0.2, 'Iris-setosa'),
 (2, 4.9, 3, 1.4, 0.2, 'Iris-setosa'),
 (3, 4.7, 3.2, 1.3, 0.2, 'Iris-setosa'),
 (4, 4.6, 3.1, 1.5, 0.2, 'Iris-setosa'),
 (5, 5, 3.6, 1.4, 0.2, 'Iris-setosa'),
 (6, 5.4, 3.9, 1.7, 0.4, 'Iris-setosa'),
 (7, 4.6, 3.4, 1.4, 0.3, 'Iris-setosa'),
 (8, 5, 3.4, 1.5, 0.2, 'Iris-setosa'),
 (9, 4.4, 2.9, 1.4, 0.2, 'Iris-setosa'),
 (10, 4.9, 3.1, 1.5, 0.1, 'Iris-setosa')]

To know Columns attribute/name in the table/list

In [20]:
[row[0] for row in cursor.description]

['Id',
 'SepalLengthCm',
 'SepalWidthCm',
 'PetalLengthCm',
 'PetalWidthCm',
 'Species']

Import pandas library of Python for various data manipulation

In [21]:
import pandas as pd

Store data from databse to iris_data using pandas function read_sql_query

In [22]:
iris_data = pd.read_sql_query("Select * from IRIS",conn)

Show values of first five rows in iris_data.head()

In [23]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

Print data types of various columns in iris_data

In [24]:
iris_data.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

fetch only that values form database where value of Species is equal to 'Iris-setosa'

In [27]:
iris_setosa_data = pd.read_sql_query("Select * from IRIS where Species == 'Iris-setosa'",conn)

In [28]:
iris_setosa_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

To print shape of iris_data and iris_setosa_data

In [32]:
print(iris_setosa_data.shape)
print(iris_data.shape)

(50, 6)
(150, 6)